{% extends'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}


    <form action="" method="post">
        <div class="mb-3">
            <input type="text" name="username" placeholder="Иван Петров" class="form-control">
        </div>
        <div class="mb-3">
            <input type="email" name="email" placeholder="your_mail@gmail.com" class="form-control">
        </div>
        <div class="mb-3">
            <input type="text" name="phone" placeholder="+375 29 123 456 78" class="form-control">
        </div>
        <div class="mb-3">
            <input type="submit" value="Отправить" class="btn btn-primary">
        </div>
    </form>

{% endblock %}